@font-face {
  font-family: odin;
  src: url(./fonts/Norse-Bold.otf);
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.link1 {
  color: white;
}
.content {
  display: flex;
}
.image-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
  background-image: url("./images/halie-west-leaf.jpg");
  min-height: 100vh;
  background-size: cover;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35);
  font-family: odin;
  color: white;
  font-size: 7rem;
  margin-top: 13rem;
}
.odin-logo {
  padding: 1rem;
  max-height: 20vh;
}
.credit {
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}
.form-section {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.header {
  flex: 1;
  background-color: #f9fafc;
  padding: 3rem;
  padding-top: 10rem;
  padding-right: 35%;
  font-size: 1.5rem;
  font-weight: bold;
}
.form-container {
  position: relative;
  flex: 4;
  box-shadow: 0 5px 5px 4px rgb(0 0 0 / 10%);
}
.form-container p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.inputs {
  margin-left: 4rem;
  margin-bottom: 2rem;
  display:flex;
  gap: 4rem;
}

input,label {
  display: block;
}
label {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
}
input {
  height: 1.5rem;
  width: 15rem;
  border: 0.12rem solid #E5E7EB;
  border-radius: 0.2rem;

}

.footer {
  background-color: #f9fafc;
  flex: 2;
}
button {
  background-color: #596D48;
  width: 12rem;
  height: 3rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 4rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
}
button:hover {
  background-color: #4b583e;
}

button:active {
  background-color: #4b583e;
  transform: translateY(2px);
}
.footer p {
  margin-top: 1.5rem;
  margin-left: 4rem;
  font-weight: bold;
}
.link2 {
  color: #596D48;
  text-decoration: none;
}